@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
}

body{
	width:100%;
	height:100%;
	background:silver;
	text-align:center;
}

p{
	position:relative;
	font-style:oblique;
	font-size:50px;
	color:#993300;
}

#can_hold{
	position:relative;
	width:500px;
	margin:0 auto;
}

#can{
	position:relative;
	margin:10px auto;
	box-shadow:10px 10px 15px black;
}

.objects{
	display:none;
}

#life_hold{
	position:relative;
	width:500px;
	height:30px;
	margin:20px auto;
	border:2px solid white;
	border-radius:10px;
	overflow:hidden;
}

#life{
	position:relative;
	width:100%;
	height:100%;
	background:#00FF55;
	
}

#timer{
	position:relative;
	width:70px;
	height:auto;
	background:black;
	margin:0 auto;
	font-size:20px;
	color:#0F7;
}

#level{
	font-size:18px;
	color:black;
}
